<% provide :title, "Phụ kiện điện thoại, laptop" %>
<h1 class="increase_margin_top">Phụ kiện</h1>
<p>
  Duis cupidatat cillum in magna qui amet esse enim non. Ex enim id duis id Lorem 
  commodo nostrud laborum consectetur occaecat. Id excepteur est excepteur ipsum nostrud 
  occaecat eu dolore non ea.
</p>
