<% provide :title, t("static_pages.home.title") %>
  <div class="box">
    <!-- slideshow -->
    <div class="slideshow">
      <div class="mySlides fade_slide">
        <a href="#"><img src="https://res.cloudinary.com/mobile-world/image/upload/v1533431121/carousel/slideshow1.png" style="width:100%"></a>
      </div>

      <div class="mySlides fade_slide">
        <a href="#"><img src="https://res.cloudinary.com/mobile-world/image/upload/v1533431121/carousel/slideshow2.png" style="width:100%"></a>
      </div>

      <div class="mySlides fade_slide">
        <a href="#"><img src="https://res.cloudinary.com/mobile-world/image/upload/v1533431121/carousel/slideshow3.png" style="width:100%"></a>
      </div>

      <div class="mySlides fade_slide">
        <a href="#"><img src="https://res.cloudinary.com/mobile-world/image/upload/v1533431121/carousel/slideshow4.png" style="width:100%"></a>
      </div>

      <div class="mySlides fade_slide">
        <a href="#"><img src="https://res.cloudinary.com/mobile-world/image/upload/v1533431121/carousel/slideshow5.png" style="width:100%"></a>
      </div>

      </div>
      <br>

      <div class="slideshow_text">
        <span class="dot">
          Đặt OPPO Find X <br>Nhận Quà Siêu Xịn
        </span>
        <span class="dot">
          Galaxy S9|S9+ Trả Góp 0% <br>Giảm 2 Triệu
        </span>
        <span class="dot">
          Sắm iPhone Giá Hời <br>Giảm Đến 7 Triệu
        </span>
        <span class="dot">
          Sắm Nokia Giá Tốt <br>Trúng 10 Xe Vespa LX
        </span>
        <span class="dot">
          Loa Vi Tính <br>Đồng Loạt Giảm 20%
        </span>
      </div>
    </div>

    <div class="advertise">
      <a href="/products/17"><img src="https://res.cloudinary.com/mobile-world/image/upload/v1533431121/advertise1.png" alt="Advertise"></a>
      <a href="/products/5"><img src="https://res.cloudinary.com/mobile-world/image/upload/v1533431121/advertise2.png" alt="Advertise"></a>
      <a href="/products/26"><img src="https://res.cloudinary.com/mobile-world/image/upload/v1533431121/advertise4.png" alt="Advertise"></a>
    </div> <!-- end advertise -->

    <div class="hot-phone">
      <div class="hot-top">
        <span class="hot-title">ĐIỆN THOẠI NỔI BẬT NHẤT</span>
      </div> <!-- end hot-top -->
      <div class="hot-product">
        <div class="phone-product-top">
          <div class="phone-product-left">
            <a href="/products/1"><img src="https://res.cloudinary.com/mobile-world/image/upload/v1533431121/products/ft-oppo.jpg" alt="OPPO"></a>
            <div class="phone-product-title">
              <div class="phone-title-left">
                <span>OPPO Find X</span><br>
                <span class="price">20.990.000đ</span>
              </div>
              <div class="phone-title-right">
                <span class="preorder">Đặt trước đến 17/8</span>
              </div>
            </div>
          </div>
          <div class="phone-product-right">
            <div class="phone-product-right-top">
              <a href="/products/2"><img src="https://res.cloudinary.com/mobile-world/image/upload/v1533431121/products/samsung-galaxy-a8-star-black.jpg" alt="Samsung"></a>
              <span class="pay">Trả góp 0%</span>
            </div>
            <div class="phone-product-right-title">
              <span>Samsung Galaxy A8 Star</span><br>
              <span class="price">13.990.000đ</span><br>
              <span class="phone-right-title">Tặng phiếu mua hàng 200.000đ và 4 khuyến mãi khác</span>
            </div>
          </div> <!-- phone-product-right -->
          <div class="phone-product-right">
            <div class="phone-product-right-top">
              <a href="/products/3"><img src="https://res.cloudinary.com/mobile-world/image/upload/v1533431121/products/iphone-8-plus.jpg" alt="Samsung"></a>
              <label class="label-left discount">Giảm 1.000.000đ</label>
            </div>
            <div class="phone-product-right-title">
              <span>iPhone 8 Plus 64GB</span><br>
              <span class="price">23.990.000đ</span><br>
              <span class="phone-right-title">Giảm 500.000đ thanh toán bằng online bằng Mastercard và 4 khuyến mãi khác</span>
            </div>
          </div> <!-- phone-product-right -->
          <div class="phone-product-right">
            <div class="phone-product-right-top">
              <a href="/products/4"><img src="https://res.cloudinary.com/mobile-world/image/upload/v1533431121/products/samsung-galaxy-j7-pro.jpg" alt="Samsung"></a>
              <span class="pay">Trả góp 0%</span>
            </div>
            <div class="phone-product-right-title">
              <span>Samsung Galaxy J7 Pro</span><br>
              <span class="price">6.090.000đ</span><br>
              <span class="phone-right-title">Tặng phiếu mua hàng 100.000đ khi mua online</span>
            </div>
          </div> <!-- phone-product-right -->
        </div> <!-- end phone-product-top -->

        <div class="phone-product-bottom">
          <div class="phone-product-left rebase-border">
            <div class="zoom-images">
              <a href="/products/5"><img src="https://res.cloudinary.com/mobile-world/image/upload/v1533431121/products/samsung-galaxy-j7-plus.jpg" alt="Samsung"></a>
            </div>
            <div class="phone-product-title">
              <div class="phone-title-left">
                <span>Samsung Galaxy J7+</span><br>
                <span class="price">7.290.000đ</span>
              </div>
              <label class="discount">Giảm 500.000đ</label>
            </div>
          </div>
          <div class="phone-product-right rebase-border">
            <div class="phone-product-right-top">
              <div class="zoom-images">
                <a href="/products/6"><img src="https://res.cloudinary.com/mobile-world/image/upload/v1533431121/products/oppo-a83.jpg" alt="Samsung"></a>
              </div>
              <label class="label-left discount">Giảm 500.000đ</label>
            </div>
            <div class="phone-product-right-title">
              <span>OPPO A83</span><br>
              <span class="price">4.990.000đ</span><br>
              <span class="phone-right-title">Cơ hội trúng 4 xe Honda Vision khi mua tại Tp.Hồ Chí Minh và 1 khuyến mãi khác</span>
            </div>
          </div> <!-- phone-product-right -->
          <div class="phone-product-right rebase-border">
            <div class="phone-product-right-top">
              <div class="zoom-images">
                <a href="/products/7"><img src="https://res.cloudinary.com/mobile-world/image/upload/v1533431121/products/vivo-y71.jpg" alt="Samsung"></a>
              </div>
              <span class="pay">Trả góp 0%</span>
            </div>
            <div class="phone-product-right-title">
              <span>Vivo Y71</span><br>
              <span class="price">3.990.000đ</span><br>
              <span class="phone-right-title">Thẻ nhớ 16GB</span>
            </div>
          </div> <!-- phone-product-right -->
          <div class="phone-product-right rebase-border">
            <div class="phone-product-right-top">
              <div class="zoom-images">
                <a href="/products/8"><img src="https://res.cloudinary.com/mobile-world/image/upload/v1533431121/products/samsung-galaxy-a6-plus-2018.jpg" alt="Samsung"></a>
              </div>
              <span class="pay">Trả góp 0%</span>
            </div>
            <div class="phone-product-right-title">
              <span>Samsung Galaxy A6+ (2018)</span><br>
              <span class="price">8.990.000đ</span><br>
              <span class="phone-right-title">Tặng phiếu mua hàng 100.000đ khi mua online và 3 khuyến mãi khác</span>
            </div>
          </div> <!-- phone-product-right -->
        </div> <!-- end phone-product-bottom -->
      </div> <!-- end phone-product -->
    </div> <!-- end hot-phone -->

    <div class="hot-tablet">
      <div class="hot-top">
        <span class="hot-title">TABLET - LAPTOP NỔI BẬT NHẤT</span>
      </div> <!-- end hot-top -->

      <div class="hot-product">
        <div class="phone-product-top">
          <div class="phone-product-left">
            <div class="zoom-images">
              <a href="/products/9"><img src="https://res.cloudinary.com/mobile-world/image/upload/v1533431121/products/hp-pavilion-x360.jpg" alt="HP"></a>
            </div>
            <div class="phone-product-title">
              <div class="phone-title-left">
                <span>HP Pavilion x360 ba080TU i3</span><br>
                <span class="price">13.490.000đ</span>
              </div>
              <div class="phone-title-right">
                <span class="preorder">Đặt trước đến 17/8</span>
              </div>
            </div>
          </div>
          <div class="phone-product-right">
            <div class="phone-product-right-top">
              <div class="zoom-images">
                <a href="/products/10"><img src="https://res.cloudinary.com/mobile-world/image/upload/v1533431121/products/hp-envy-13.jpg" alt="HP"></a>
              </div>
              <span class="pay">Trả góp 0%</span>
            </div>
            <div class="phone-product-right-title">
              <span>HP Envy 13 ah0027TU i7</span><br>
              <span class="price">26.990.000đ</span><br>
              <span class="phone-right-title">Tặng phiếu mua hàng 250.000đ và 3 khuyến mãi khác</span>
            </div>
          </div> <!-- phone-product-right -->
          <div class="phone-product-right">
            <div class="phone-product-right-top">
              <div class="zoom-images">
                <a href="/products/11"><img src="https://res.cloudinary.com/mobile-world/image/upload/v1533431121/products/acer-swift.jpg" alt="Acer"></a>
              </div>
              <span class="pay">Trả góp 0%</span>
            </div>
            <div class="phone-product-right-title">
              <span>Acer Swift SF314 54 51QL i5</span><br>
              <span class="price">16.990.000đ</span><br>
              <span class="phone-right-title">Tặng chuột không dây và 4 khuyến mãi khác</span>
            </div>
          </div> <!-- phone-product-right -->
          <div class="phone-product-right">
            <div class="phone-product-right-top">
              <div class="zoom-images">
                <a href="/products/12"><img src="https://res.cloudinary.com/mobile-world/image/upload/v1533431121/products/ipad-6th-wifi-cellular.jpg" alt="iPad"></a>
              </div>
              <span class="pay">Trả góp 0%</span>
            </div>
            <div class="phone-product-right-title">
              <span>iPad Wifi Cellular 128GB</span><br>
              <span class="price">14.990.000đ</span><br>
              <span class="phone-right-title">Giảm 500.000 thanh toán online bằng Mastercard và 3 khuyến mãi khác</span>
            </div>
          </div> <!-- phone-product-right -->
        </div> <!-- end phone-product-top -->
      </div> <!-- end hot-product -->
    </div> <!-- end hot-tablet -->

    <div class="phukien">
      <div class="hot-top">
        <span class="hot-title">PHỤ KIỆN GIÁ RẺ</span>
      </div> <!-- end hot-top -->
      <div class="products">
        <div class="phone-product-right product-child">
          <div class="phone-product-right-top zoom-images">
            <a href="/products/13"><img src="https://res.cloudinary.com/mobile-world/image/upload/v1533431121/products/pin-sac-du-phong-polymer-10000mah.jpg" alt="iPad"></a>
          </div>
          <div class="phone-product-right-title">
            <span>eValu PA L10</span><br>
            <span class="price">400.000đ</span><br>
          </div> <!-- phone-product-right -->
        </div>
        <div class="phone-product-right product-child">
          <div class="phone-product-right-top zoom-images">
            <a href="/products/14"><img src="https://res.cloudinary.com/mobile-world/image/upload/v1533431121/products/loa-bluetooth-mifa.jpg" alt="loa"></a>
            <span class="pay pay1">Giảm 35%</span>
          </div>
          <div class="phone-product-right-title">
            <span>Mifa BV150</span><br>
            <span class="price">260.000đ</span>
            <span class="sale-price">400.000đ</span>
          </div> <!-- phone-product-right -->
        </div>
        <div class="phone-product-right product-child">
          <div class="phone-product-right-top zoom-images">
            <a href="/products/15"><img src="https://res.cloudinary.com/mobile-world/image/upload/v1533431121/products/cap-micro-usb-20cm-x-mobile.jpg" alt="iPad"></a>
            <span class="pay pay1">Trả góp 0%</span>
          </div>
          <div class="phone-product-right-title">
            <span>Cáp Xmobile MU03</span><br>
            <span class="price">40.000đ</span><br>
          </div> <!-- phone-product-right -->
        </div>
        <div class="phone-product-right product-child">
          <div class="phone-product-right-top zoom-images">
            <a href="/products/16"><img src="https://res.cloudinary.com/mobile-world/image/upload/v1533431121/products/the-nho-microsd-8gb.jpg" alt="the nho"></a>
            <span class="pay pay1">Giảm 25%</span>
          </div>
          <div class="phone-product-right-title">
            <span>Micro SD 8GB class 4</span><br>
            <span class="price">150.000đ</span>
            <span class="sale-price">200.000đ</span>
          </div> <!-- phone-product-right -->
        </div>
        <div class="phone-product-right product-child">
          <div class="phone-product-right-top zoom-images">
            <a href="/products/73"><img src="https://res.cloudinary.com/mobile-world/image/upload/v1533431121/products/tai-nghe-chup-tai-kanen-ip.jpg" alt="tai nghe"></a>
            <span class="pay pay1">Giảm 35%</span>
          </div>
          <div class="phone-product-right-title">
            <span>Tai nghe chụp tai Kanen IP-892</span><br>
            <span class="price">195.000đ</span>
            <span class="sale-price">300.000đ</span>
          </div>
        </div> <!-- phone-product-right -->
      </div> <!-- end product -->
    </div> <!-- end phukien -->
  </div> <!-- end box -->

<a href="#" id="scroll_top" title="Về đầu trang" style="display: none;"><span></span></a>
