<% provide :title, t("static_pages.laptop.title") %>
<div class="box">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>

    <div class="carousel-inner">
      <div class="item active">
        <img src="https://res.cloudinary.com/mobile-world/image/upload/v1533431121/carousel/laptop1.png" alt="laptop" style="width:100%;">
      </div>
      <div class="item">
        <img src="https://res.cloudinary.com/mobile-world/image/upload/v1533431121/carousel/laptop2.png" alt="laptop" style="width:100%;">
      </div>
      <div class="item">
        <img src="https://res.cloudinary.com/mobile-world/image/upload/v1533431121/carousel/laptop3.png" alt="laptop" style="width:100%;">
      </div>
      <div class="item">
        <img src="https://res.cloudinary.com/mobile-world/image/upload/v1533431121/carousel/laptop4.png" alt="laptop" style="width:100%;">
      </div>
      <div class="item">
        <img src="https://res.cloudinary.com/mobile-world/image/upload/v1533431121/carousel/laptop5.png" alt="laptop" style="width:100%;">
      </div>
    </div>

    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div> <!-- end carousel -->
  <div class="advertise2">
    <a href="#"><img src="https://res.cloudinary.com/mobile-world/image/upload/v1533431121/advertise7.png" alt="Advertise"></a>
    <a href="#"><img src="https://res.cloudinary.com/mobile-world/image/upload/v1533431121/advertise8.png" alt="Advertise"></a>
  </div> <!-- end advertise -->

  <div class="hot-phone hot-phone2">
    <div class="hot-product">
      <div class="phone-product-top">
        <div class="phone-product-right">
          <div class="phone-product-right-top">
            <a href="/products/47"><img src="https://res.cloudinary.com/mobile-world/image/upload/v1533431121/laptop/acer-aspire-e5-576g-7927.jpg" alt="Acer"></a>
            <label class="label-left discount">Giảm 1.000.000đ</label>
          </div>
          <div class="phone-product-right-title">
            <span>Acer Aspire E5 576G 7927 i7</span><br>
            <span class="price">15.990.000đ</span><br>
            <span class="phone-right-title">Tặng phiếu mua hàng 200.000đ và 4 khuyến mãi khác</span>
          </div>
        </div> <!-- phone-product-right -->
        <div class="phone-product-right">
          <div class="phone-product-right-top">
            <a href="/products/48"><img src="https://res.cloudinary.com/mobile-world/image/upload/v1533431121/laptop/hp-15-bs571tu-i3.jpg" alt="HP"></a>
            <label class="label-left discount">Giảm 500.000đ</label>
          </div>
          <div class="phone-product-right-title">
            <span>HP 15 bs571TU i3</span><br>
            <span class="price">9.890.000đ</span><br>
            <span class="phone-right-title">Tặng phiếu mua hàng 200.000đ và 4 khuyến mãi khác</span>
          </div>
        </div> <!-- phone-product-right -->
        <div class="phone-product-right">
          <div class="phone-product-right-top">
            <a href="/products/49"><img src="https://res.cloudinary.com/mobile-world/image/upload/v1533431121/laptop/asus-x510ua-i3.jpg" alt="Asus"></a>
            <label class="label-left discount">Giảm 1.000.000đ</label>
          </div>
          <div class="phone-product-right-title">
            <span>Laptop Asus X510UA i3</span><br>
            <span class="price">11.290.000đ</span><br>
            <span class="phone-right-title">Tặng phiếu mua hàng 200.000đ và 4 khuyến mãi khác</span>
          </div>
        </div> <!-- phone-product-right -->
        <div class="phone-product-right">
          <div class="phone-product-right-top">
            <a href="/products/50"><img src="https://res.cloudinary.com/mobile-world/image/upload/v1533431121/laptop/hp-15-bs646tu.jpg" alt="Apple"></a>
            <label class="label-left discount">Giảm 1.000.000đ</label>
          </div>
          <div class="phone-product-right-title">
            <span>Laptop HP 15 bs646TU i3</span><br>
            <span class="price">10.190.000đ</span><br>
            <span class="phone-right-title">Giảm 500.000đ thanh toán bằng online bằng Mastercard và 4 khuyến mãi khác</span>
          </div>
        </div> <!-- phone-product-right -->
        <div class="phone-product-right">
          <div class="phone-product-right-top">
            <a href="/products/51"><img src="https://res.cloudinary.com/mobile-world/image/upload/v1533431121/laptop/acer-aspire-es1-432-c3c9.jpg" alt="Acer"></a>
            <span class="pay pay1">Trả góp 0%</span>
          </div>
          <div class="phone-product-right-title">
            <span>Laptop Acer Aspire ES1 432 </span><br>
            <span class="price">6.290.000đ</span><br>
            <span class="phone-right-title">Tặng phiếu mua hàng 100.000đ khi mua online</span>
          </div>
        </div> <!-- phone-product-right -->
      </div> <!-- end phone-product-top -->

      <div class="phone-product-bottom">
        <div class="phone-product-right rebase-border">
          <div class="phone-product-right-top">
            <a href="/products/52"><img src="https://res.cloudinary.com/mobile-world/image/upload/v1533431121/laptop/acer-aspire-a314-31-c2ux.jpg" alt="Acer"></a>
            <span class="pay pay1">Trả góp 0%</span>
          </div>
          <div class="phone-product-right-title">
            <span>Laptop Acer Aspire A314</span><br>
            <span class="price">6.490.000đ</span><br>
            <span class="phone-right-title">Tặng phiếu mua hàng 200.000đ và 4 khuyến mãi khác</span>
          </div>
        </div> <!-- phone-product-right -->
        <div class="phone-product-right rebase-border">
          <div class="phone-product-right-top">
            <a href="/products/53"><img src="https://res.cloudinary.com/mobile-world/image/upload/v1533431121/laptop/asus-x441na-n4200.jpg" alt="Asus"></a>
            <span class="pay pay1">Trả góp 0%</span>
          </div>
          <div class="phone-product-right-title">
            <span>Laptop Asus X441NA (GA070T)</span><br>
            <span class="price">7.490.000đ</span><br>
            <span class="phone-right-title">Tặng phiếu mua hàng 200.000đ và 4 khuyến mãi khác</span>
          </div>
        </div> <!-- phone-product-right -->
        <div class="phone-product-right rebase-border">
          <div class="phone-product-right-top">
            <a href="/products/54"><img src="https://res.cloudinary.com/mobile-world/image/upload/v1533431121/laptop/acer-aspire-a315-31-p2lj.jpg" alt="Apple"></a>
            <span class="pay pay1">Trả góp 0%</span>
          </div>
          <div class="phone-product-right-title">
            <span>Laptop Acer Aspire A315</span><br>
            <span class="price">7.590.000đ</span><br>
            <span class="phone-right-title">Cơ hội trúng 4 xe Honda Vision khi mua tại Tp.Hồ Chí Minh và 1 khuyến mãi khác</span>
          </div>
        </div> <!-- phone-product-right -->
        <div class="phone-product-right rebase-border">
          <div class="phone-product-right-top">
            <a href="/products/55"><img src="https://res.cloudinary.com/mobile-world/image/upload/v1533431121/laptop/hp-15-bs641tu-n3710.jpg" alt="Samsung"></a>
            <span class="pay pay1">Trả góp 0%</span>
          </div>
          <div class="phone-product-right-title">
            <span>Laptop HP 15 bs641TU</span><br>
            <span class="price">7.690.000đ</span><br>
            <span class="phone-right-title">Tặng phiếu mua hàng 100.000đ khi mua online và 3 khuyến mãi khác</span>
          </div>
        </div> <!-- phone-product-right -->
        <div class="phone-product-right rebase-border">
          <div class="phone-product-right-top">
            <a href="/products/56"><img src="https://res.cloudinary.com/mobile-world/image/upload/v1533431121/laptop/hp-15-da0048tu-4me63pa.jpg" alt="Samsung"></a>
            <span class="pay pay1">Trả góp 0%</span>
          </div>
          <div class="phone-product-right-title">
            <span>Laptop HP 15 da0048TU</span><br>
            <span class="price">7.690.000đ</span><br>
            <span class="phone-right-title">Thẻ nhớ 16GB</span>
          </div>
        </div> <!-- phone-product-right -->
      </div> <!-- end phone-product-bottom -->

      <div class="phone-product-bottom">
        <div class="phone-product-right rebase-border">
          <div class="phone-product-right-top">
            <div class="zoom-images">
              <a href="/products/57"><img src="https://res.cloudinary.com/mobile-world/image/upload/v1533431121/laptop/dell-vostro-3468-70142649.jpg" alt="Samsung"></a>
            </div>
            <span class="pay pay1">Trả góp 0%</span>
          </div>
          <div class="phone-product-right-title">
            <span>Laptop Dell Vostro 3468 i3</span><br>
            <span class="price">11.290.000đ</span><br>
            <span class="phone-right-title">Tặng phiếu mua hàng 200.000đ và 4 khuyến mãi khác</span>
          </div>
        </div> <!-- phone-product-right -->
        <div class="phone-product-right rebase-border">
          <div class="phone-product-right-top">
            <div class="zoom-images">
              <a href="/products/58"><img src="https://res.cloudinary.com/mobile-world/image/upload/v1533431121/laptop/dell-vostro-3468-i5.png" alt="Sony"></a>
            </div>
            <span class="pay pay1">Trả góp 0%</span>
          </div>
          <div class="phone-product-right-title">
            <span>Laptop Dell Vostro 3468 i5</span><br>
            <span class="price">13.790.000đ</span><br>
            <span class="phone-right-title">Tặng phiếu mua hàng 200.000đ và 4 khuyến mãi khác</span>
          </div>
        </div> <!-- phone-product-right -->
        <div class="phone-product-right rebase-border">
          <div class="phone-product-right-top">
            <div class="zoom-images">
              <a href="/products/59"><img src="https://res.cloudinary.com/mobile-world/image/upload/v1533431121/laptop/dell-vostro-3578-ngmpf11.jpg" alt="Apple"></a>
            </div>
            <label class="label-left discount">Giảm 1.000.000đ</label>
          </div>
          <div class="phone-product-right-title">
            <span>Laptop Dell Vostro 3578 i7</span><br>
            <span class="price">20.990.000đ</span><br>
            <span class="phone-right-title">Cơ hội trúng 4 xe Honda Vision khi mua tại Tp.Hồ Chí Minh và 1 khuyến mãi khác</span>
          </div>
        </div> <!-- phone-product-right -->
        <div class="phone-product-right rebase-border">
          <div class="phone-product-right-top">
            <div class="zoom-images">
              <a href="/products/60"><img src="https://res.cloudinary.com/mobile-world/image/upload/v1533431121/laptop/dell-inspiron-3567-i3.png" alt="Samsung"></a>
            </div>
            <span class="pay pay1">Trả góp 0%</span>
          </div>
          <div class="phone-product-right-title">
            <span>Laptop Dell Inspiron 3567 i3</span><br>
            <span class="price">11.390.000đ</span><br>
            <span class="phone-right-title">Thẻ nhớ 16GB</span>
          </div>
        </div> <!-- phone-product-right -->
        <div class="phone-product-right rebase-border">
          <div class="phone-product-right-top">
            <div class="zoom-images">
              <a href="/products/61"><img src="https://res.cloudinary.com/mobile-world/image/upload/v1533431121/laptop/dell-vostro-5568-077m52.png" alt="Apple"></a>
            </div>
            <label class="label-left discount">Giảm 1.000.000đ</label>
          </div>
          <div class="phone-product-right-title">
            <span>Laptop Dell Vostro 5568 i5</span><br>
            <span class="price">15.490.000đ</span><br>
            <span class="phone-right-title">Tặng phiếu mua hàng 500.000đ khi mua online và 3 khuyến mãi khác</span>
          </div>
        </div> <!-- phone-product-right -->
      </div> <!-- end phone-product-bottom -->
    </div> <!-- end phone-product -->
  </div> <!-- end hot-phone -->
</div> <!--end box -->

<a href="#" id="scroll_top" title="Về đầu trang" style="display: none;"><span></span></a>
