<% provide :title, "Phương thức thanh toán" %>
<div class="box">
  <div class="well" style="width: 1205px;">
    <h1 class="text-center" style="font-size: 50px;">Phương thức thanh toán</h1>
    <h3>Bước 1: Chuyển khoản đến một trong số các tài khoản sau:</h3>
    <h4 style="font-weight: bold;">Vietcombank</h4>
    <p>Chủ tài khoản: thegioimobile</p>
    <p>Số tài khoản: 1234567812345678</p>
    <br>
    <h4 style="font-weight: bold;">Techcombank</h4>
    <p>Chủ tài khoản: thegioimobile</p>
    <p>Số tài khoản: 1234567812345678</p>
    <h3>Bước 2: Lấy mã giao dịch</h3>
    <h3>Bước 3: Nhập vào ô "Mã giao dịch"</h3>
  </div>
</div>
