<% provide :title, t("static_pages.sale.title") %>
<div class="box">
  <section class="wrapper">
    <div class="bg"></div>
    <div class="box-sale">
      <p>Vòng tay thông minh Mi Band 2</p>
      <span>Mi Band 2 chỉ cần nâng cổ tay lên* để xem thời gian và chạm nút bấm để xem số bước và nhịp tim. Thông báo không hoạt động gửi cảnh báo khi bạn ngồi quá lâu. Hãy vận động bằng cách đi lại hoặc tập thể dục nhẹ.</span>
    </div>
  </section>
  <section class="wrapper">
    <div class="bg bg2"></div>
    <div class="box-sale c2">
      <p>Pin sạc dự phòng Xiaomi Power Bank 10.000mAh</p>
      <span>Hiệu suất nạp và xả cao hơn - Công suất đầu vào đến 18W. Pin dự phòng Mi 2S thế hệ mới (10000mAh) với 12V 1,5A, 9V 2.0A và công suất sạc đầu vào 18W, rút ngắn đáng kể thời gian sạc đầy.</span>
    </div>
  </section>
  <section class="wrapper">
    <div class="bg bg3"></div>
    <div class="box-sale c3">
      <p>Xiaomi Mi A2 Lite - Màn hình tràn cạnh 19:9</p>
      <span>Trải nghiệm hình ảnh rõ nét, sinh động với mật độ điểm ảnh 432 PPI, và 84% gam màu NTSC.</span>
    </div>
  </section>
  <section class="wrapper">
    <div class="bg bg4"></div>
    <div class="box-sale c3 c4">
      <p>Xiaomi Mi A2 - Màn hình tràn viền cùng tỉ lệ 18:9</p>
      <span>Tầm nhìn rộng lớn hơn với màn hình FHD 5.99inch</span>
    </div>
  </section>
  <section class="wrapper">
    <div class="bg bg5"></div>
    <div class="box-sale c5">
      <p>Điện thoại thông minh thực thụ dành cho bạn</p>
      <span>Điện thoại Android One được tích hợp công nghệ AI mới nhất của Google. Điều đó có nghĩa là thiết bị có thể tự động điều chỉnh theo nhu cầu của bạn và hỗ trợ để mọi việc được tiến hành dễ dàng cả ngày.</span>
    </div>
  </section>
</div>

<a href="#" id="scroll_top" title="Về đầu trang" style="display: none;"><span></span></a>
