<% provide :title, "Laptop, máy tính bảng ưu đãi khủng giảm giá tới 20%" %>
<h1 class="increase_margin_top">Khuyến mãi</h1>
<p>
  Duis cupidatat cillum in magna qui amet esse enim non. Ex enim id duis id Lorem 
  commodo nostrud laborum consectetur occaecat. Id excepteur est excepteur ipsum nostrud 
  occaecat eu dolore non ea.
Laboris ipsum aliquip id ipsum Lorem. Laboris pariatur commodo culpa mollit laborum ut non. 
Commodo duis voluptate sit anim amet excepteur velit laborum elit.
Aliqua reprehenderit aliqua ut officia aliquip magna labore. Laborum et incididunt esse 
sunt in ad eu in laborum sint qui ad occaecat irure. Sunt qui aute aliqua excepteur minim 
laboris veniam minim culpa in sint quis ad pariatur. Anim tempor tempor id ex. Non non 
aliquip cupidatat esse incididunt consectetur ullamco sint duis sunt excepteur ullamco.
</p>
