<% provide :title, "Máy tính bảng chính hãng" %>
<h1 class="increase_margin_top">Máy tính bảng</h1>
<p>
  Duis cupidatat cillum in magna qui amet esse enim non. Ex enim id duis id Lorem 
  commodo nostrud laborum consectetur occaecat. Id excepteur est excepteur ipsum nostrud 
  occaecat eu dolore non ea.
Laboris ipsum aliquip id ipsum Lorem. Laboris pariatur commodo culpa mollit laborum ut non. 
Commodo duis voluptate sit anim amet 
</p>
