$light-gray: #f1f1f1;
$gray2: #cac2c2;
$gray1: #c1b4b4;
$pink1: #FF005C;
$orange2: #FF8500;
$orange1: #ff9c00;
$red3: #ec1f1f;
$red1: #f13500;
$red2: #dd4b39;
$yellow1: #fdd504;
$blue2: #4267b2;
$blue1: #3B5998;
$light-blue: #5EA4E4;
