$light-gray: #f0f0f0;
$gray1: #ededed;
$gray2: #cac2c2;
$gray3: #bbb;
$pink1: #FF005C;
$orange1: #ff9c00;
$orange2: #FF8500;
$red1: #f13500;
$red2: #dd4b39;
$red3: #ec1f1f;
$yellow1: #fdd504;
$yellow2: #fed700;
$blue1: #3B5998;
$blue2: #4267b2;
$blue3: #3073C9;
$light-blue: #5EA4E4;
$brown1: #212121;
