<% provide :title, t(".new_product") %>
<% provide :button_text, t(".new_btn") %>
<h2 class="increase_margin_top"><%= t ".new_product" %></h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="well">
      <%= render "form" %>
    </div>
  </div>
</div>
