<footer>
  <div class="col-sm-4">
    <span>Thegioimobile đã và đang tiếp tục khẳng định vị trí trong việc cung cấp các sản phẩm độc và hiếm cho thị trường trong nhiều ngày qua.</span><br>
    <img src="images/payment-1.png" alt="payment">
    <img src="images/payment-2.png" alt="payment">
    <img src="images/payment-3.png" alt="payment">
    <img src="images/payment-4.png" alt="payment">
    <img src="images/logo_bct.png" alt="logo_bct" style="width: 265px; height: 100px;">
  </div>
  <div class="col-sm-4">
    <%= link_to "", "#", class: "fa fa-facebook-square" %>
    <%= link_to "", "#", class: "fa fa-twitter-square" %>
    <%= link_to "", "#", class: "fa fa-google" %>
    <span id="copyright">Copyright &copy; 2018 by Thegioimobile. All Rights Reserved.</span>
  </div>
  <div class="col-sm-4">
    <i class="glyphicon glyphicon-map-marker"></i>  434 Trần Khát Chân - Hai Bà Trưng - Hà Nội <br>
    <i class="glyphicon glyphicon-phone"></i>  0123456789 <br>
    <i class="glyphicon glyphicon-envelope"></i>  abc@gmail.com
  </div>
</footer>
